<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/cafemain.css" />

    <style>
      a,
      button,
      input,
      select,
      h1,
      h2,
      h3,
      h4,
      h5,
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: none;
        text-decoration: none;
        background: none;

        -webkit-font-smoothing: antialiased;
      }

      menu,
      ol,
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

      /* 팝업 중앙 배치 */
#americano_popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; /* 오버레이보다 위에 표시 */
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
    </style>
    <title>Document</title>
  </head>

  <body>
    <div class="main-2">
      <div class="yellow-panel"></div>
      <div class="suho-coffee">SUHO COFFEE</div>
      <div class="americano-retangle" onclick="buy('아메리카노')"></div>
      <div class="_2000"  >
        <span>
          <span class="_2000-span">
            아메리카노
            <br />
          </span>
          <span class="_2000-span2">2000원</span>
        </span>
      </div>
      <img class="americano" src="static/img/americano0.png" onclick="buy('아메리카노')"/>
      <div class="carmel-retangle" onclick="buy('카라멜마끼아또')"></div>
      <div class="_3700">
        <span>
          <span class="_3700-span">
            카라멜마끼아또
            <br />
          </span>
          <span class="_3700-span2">3700원</span>
        </span>
      </div>
      <img class="caramel-macchiato" src="static/img/caramel-macchiato0.png" onclick="buy('carmel-macchiato')" />
      <div class="cafemocha-retangle"></div>
      <div class="_37002">
        <span>
          <span class="_37002-span">
            카페모카
            <br />
          </span>
          <span class="_37002-span2">3700원</span>
        </span>
      </div>
      <img class="cafe-mocha" src="static/img/cafe-mocha0.png" onclick="buy('카페모카')" />
      <div class="cappuccino-retnagle"></div>
      <div class="_37003">
        <span>
          <span class="_37003-span">
            카푸치노
            <br />
          </span>
          <span class="_37003-span2">3700원</span>
        </span>
      </div>
      <img class="cappuccino" src="static/img/cappuccino0.png" onclick="buy('cappuccino')" />
      <div class="checklist-retangle"></div>
      <div class="pay-retangle"></div>
      <div class="div">결제하기</div>
      <div class="select-retangle"></div>
      <div class="div2">선택한 상품</div>
      <img class="home-button" src="static/img/home-button0.png" />
      <div class="cafelatte-retangle"></div>
      <div class="_3000">
        <span>
          <span class="_3000-span">
            카페라떼
            <br />
          </span>
          <span class="_3000-span2">3000원</span>
        </span>
      </div>
      <img class="cafe-latte" src="static/img/cafe-latte0.png" onclick="buy('cafe-latte')" />
      <div class="valina-retangle"></div>
      <div class="_30002">
        <span>
          <span class="_30002-span">
            바닐라 라떼
            <br />
          </span>
          <span class="_30002-span2">3000원</span>
        </span>
      </div>
      <div class="valina-latte">
        <img class="image-36" src="static/img/valina-latte.png" onclick="buy('valina-latte')"/>
      </div>
      <div class="coffee-button2"></div>
      <div class="div3">커피</div>
      <div class="smoothe-button2"></div>
      <div class="div4">스무디</div>
    </div>


    <div class="frame-76" id="americano_popup">
      <div class="frame-77">
        <div class="popupdiv">선택하신 상품의 옵션을 선택해주세요</div>
      </div>
      <div class="frame-78">
        <img class="popupamericano" src="static/img/americano0.png" />
        <div class="popupdiv2">아메리카노</div>
        <div class="popup_2000">2000원</div>
      </div>
      <div class="popupdiv3">온도(필수)</div>
      <div class="frame-79">
        <div class="frame-22">
          <div class="popupdiv4">핫</div>
        </div>
        <div class="frame-23">
          <div class="popupdiv4">아이스</div>
        </div>
      </div>
      <div class="popupdiv3">농도(선택, 단일선택)</div>
      <div class="frame-80">
        <div class="frame-222">
          <div class="popupdiv4">연하게</div>
          <div class="_0">+0원</div>
        </div>
        <div class="frame-232">
          <div class="popupdiv4">샷추가</div>
          <div class="_500">+500원</div>
        </div>
        <div class="frame-232">
          <div class="popupdiv4">2샷추가</div>
          <div class="_2">+1000원</div>
        </div>
      </div>
      <div class="frame-81">
        <div class="frame-223">
          <div class="popupdiv5">취소</div>
        </div>
        <div class="frame-233">
          <div class="popupdiv5">주문담기</div>
        </div>
      </div>
    </div>
    
  
<script>
  function buy(coffee) {
    //alert(coffee);
    document.getElementById('americano_popup').style.display = 'block';
    document.getElementById('valina-latte').style.display = 'block';
    document.getElementById('cafe-mocha').style.display = 'block';
    document.getElementById('carmel-macchiato').style.display = 'block';
    document.getElementById('cappuccino').style.display = 'block';
    document.getElementById('cafe-latte').style.display = 'block';

    document.getElementById('change').innerHTML = coffee;
  }
  
</script>