<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/cafemain.css" />

    <style>
      a,
      button,
      input,
      select,
      h1,
      h2,
      h3,
      h4,
      h5,
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: none;
        text-decoration: none;
        background: none;

        -webkit-font-smoothing: antialiased;
      }

      menu,
      ol,
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

      /* 팝업 중앙 배치 */
#americano_popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; /* 오버레이보다 위에 표시 */
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
    </style>
    <title>Document</title>
  </head>

  <body>
    <div class="main-2">
      <div class="yellow-panel"></div>
      <div class="suho-coffee">SUHO COFFEE</div>
      <div class="americano-retangle" onclick="buy('아메리카노')"></div>
      <div class="_2000"  >
        <span>
          <span class="_2000-span">
            아메리카노
            <br />
          </span>
          <span class="_2000-span2">2000원</span>
        </span>
      </div>
      <img class="americano" src="static/img/americano0.png" onclick="buy('아메리카노')"/>
      <div class="carmel-retangle" onclick="buy('카라멜마끼아또')"></div>
      <div class="_3700">
        <span>
          <span class="_3700-span">
            카라멜마끼아또
            <br />
          </span>
          <span class="_3700-span2">3700원</span>
        </span>
      </div>
      <img class="caramel-macchiato" src="static/img/caramel-macchiato0.png" />
      <div class="cafemocha-retangle"></div>
      <div class="_37002">
        <span>
          <span class="_37002-span">
            카페모카
            <br />
          </span>
          <span class="_37002-span2">3700원</span>
        </span>
      </div>
      <img class="cafe-mocha" src="static/img/cafe-mocha0.png" />
      <div class="cappuccino-retnagle"></div>
      <div class="_37003">
        <span>
          <span class="_37003-span">
            카푸치노
            <br />
          </span>
          <span class="_37003-span2">3700원</span>
        </span>
      </div>
      <img class="cappuccino" src="static/img/cappuccino0.png" />
      <div class="checklist-retangle"></div>
      <div class="pay-retangle"></div>
      <div class="div">결제하기</div>
      <div class="select-retangle"></div>
      <div class="div2">선택한 상품</div>
      <img class="home-button" src="static/img/home-button0.png" />
      <div class="cafelatte-retangle"></div>
      <div class="_3000">
        <span>
          <span class="_3000-span">
            카페라떼
            <br />
          </span>
          <span class="_3000-span2">3000원</span>
        </span>
      </div>
      <img class="cafe-latte" src="static/img/cafe-latte0.png" />
      <div class="valina-retangle"></div>
      <div class="_30002">
        <span>
          <span class="_30002-span">
            바닐라 라떼
            <br />
          </span>
          <span class="_30002-span2">3000원</span>
        </span>
      </div>
      <div class="valina-latte">
        <img class="image-36" src="static/img/valina-latte.png" />
      </div>
      <div class="coffee-button2"></div>
      <div class="div3">커피</div>
      <div class="smoothe-button2"></div>
      <div class="div4">스무디</div>
    </div>



 <div class="americano-popup" id="americano_popup">
  <div class="americano-popup">
    <div class="group-35">
      <div class="rectangle-107"></div>
      <div class="frame-25">
        <div class="_500">
          <span>
            <span class="_500-span">
              샷추가
              <br />
              <br />
            </span>
            <span class="_500-span2">+500원</span>
          </span>
        </div>
      </div>
      <div class="frame-24">
        <div class="_2-1000">
          <span>
            <span class="_2-1000-span">
              2샷추가
              <br />
              <br />
            </span>
            <span class="_2-1000-span2">+1000원</span>
          </span>
        </div>
      </div>
      <div class="frame-23">
        <div class="div">아이스</div>
      </div>
      <div class="rectangle-108"></div>
      <div class="div2">선택하신 상품의 옵션을 선택해주세요</div>
      <img class="americano" src="americano0.png" />
      <div class="_2000">
        <span>
          <span class="_2000-span">아메리카노</span>
          <span class="_2000-span2">2000원</span>
        </span>
      </div>
      <div class="div3">농도(선택, 단일선택)</div>
      <div class="div4">온도(필수)</div>
      <div class="frame-22">
        <div class="div5">핫</div>
      </div>
      <div class="frame-242">
        <div class="_0">
          <span>
            <span class="_0-span">
              연하게
              <br />
              <br />
            </span>
            <span class="_0-span2">+0원</span>
          </span>
        </div>
      </div>
      <div class="frame-26">
        <div class="div6">취소</div>
      </div>
      <div class="frame-27">
        <div class="div7">주문담기</div>
      </div>
    </div>
  </div>
  
<script>
  function buy(coffee) {
    alert(coffee);
    document.getElementById('americano_').style.display = 'block';
    document.getElementById('change').innerHTML = coffee;
  }

    // 페이지가 로드된 후 3초 뒤에 팝업을 열기
    setTimeout(function() {
        document.getElementById('americano_popup').style.display = 'block';
    }, 3000); // 3000ms = 3초


</script>