<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./vars.css" />
    <link rel="stylesheet" href="static/fastfoodmain.css">
</head>
<body>


    <!-- 전체 컨테이너 -->
    <div class="e109_1107">
        
        <!-- 상단 바 -->
      

        <!-- 텍스트 영역 -->
        <span class="e109_1187">
            기다리지말고 간편하게
        </span>
        <span class="e212_2767">
          여기에서<br>주문하세요!
      </span>
      
        <div class="e215_2768">
            <div class="e109_1188"></div>
            <button class="button-1">주문하기</button>
        </div>
        
    </div>
    
</body>
</html>
