{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Fast Food Kiosk</title>
  <link rel="stylesheet" href="static/fastfood_side.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<style>
  .selected {
    border: 2px solid red; /* 빨간색 테두리 */
    border-radius: 5px; /* 테두리 모서리 둥글게 */
}

</style>
<body>
  <div class="main-2">
    <img class="home-button" src="static/img/home-button0.png" onclick="window.location.href='/'"/>
    <!-- 메인 화면 컨텐츠 -->
    <div class="rectangle-120"></div>
    
    <div class="board"></div>
    <div class="suho-coffee">SUHO BURGER</div>

    <div class="hamburguer-button" onclick="window.location.href='fastfoodbuger'" >
      <div class="text-bold">햄버거</div>
    </div>
    
    <div id="burger-button" class="teriburger-button" onclick="openMenuConfirmationPopup(this, '포테이토', false, false)">
      <div class="teriburger-retangle"></div>
      <img class="teriburger" src="static/img/potato.png" />
      <div class="price-3300">
        <span>
          <span class="text-bold-3300">포테이토</span>
          <span class="price-red-3300">1500원</span>
        </span>
      </div>
    </div>
    <!-- Other burger buttons... -->
    <div id="burger-button" class="chicken-button" onclick="openMenuConfirmationPopup(this, '포테이토(L)', false, false)">
      <div class="chicken-retangle"></div>
      <img class="chicken" src="static/img/potato-1.png" />
      <div class="price-4000">
        <span>
          <span class="text-bold-4000">포테이토(L)</span>
          <span class="price-red-4000">2000원</span>
        </span>
      </div>
    </div>

    <div id="burger-button" class="shrimpburger-button" onclick="openMenuConfirmationPopup(this, '치즈스틱', false, false)">
      <div class="shrimp-retangle"></div>
      <div class="price-4500">
        <span>
          <span class="text-bold-4500">치즈스틱</span>
          <span class="price-red-4500">2000원</span>
        </span>
      </div>
      <img class="shrimpburger" src="static/img/cheese_stick.png" />
    </div>

    <div id="burger-button" class="bulgogiburger-button" onclick="openMenuConfirmationPopup(this, '롱치즈스틱', false, false)">
      <div class="bulgogiburger-retangle"></div>
      <div class="price-45002">
        <span>
          <span class="text-bold-45002">롱치즈스틱</span>
          <span class="price-red-45002">2500원</span>
        </span>
      </div>
      <img class="bulgogiburger" src="static/img/long_cheese_stick.png" />
    </div>

    <div id="burger-button" class="cheeseburger-button" onclick="openMenuConfirmationPopup(this, '치즈버거', false, false)">
      <div class="cheeseburger-retangle"></div>
      <div class="price-5200">
        <span>
          <span class="text-bold-5200">치킨너겟</span>
          <span class="price-red-5200">2000원</span>
        </span>
      </div>
      <img class="cheeseburger" src="static/img/chicken_nuggets.png" />
    </div>

    <div id="burger-button" class="doubleteriburger-button" onclick="openMenuConfirmationPopup(this, '아이스크림', false, false)">
      <div class="doubleteriburger-retangle"></div>
      <div class="price-45003">
        <span>
          <span class="text-bold-45003">아이스크림</span>
          <span class="price-red-45003">2000원</span>
        </span>
      </div>
      <img class="doubleteriburger" src="static/img/icecream.png" />
    </div>
    <div class="side-button" onclick="window.location.href='fastfood_side'" >
      <div class="text-bold">사이드</div>
    </div>
    <div class="drink-button" onclick="window.location.href='fastfood_drink'" >
      <div class="text-bold">음료</div>
    </div>
    <div class="gray-rectangle"></div>

    <!-- 주문 내역, 취소, 결제 버튼 -->
    <div class="order-summary">
      <span>
        <span class="text-bold-0">총 가격</span>
        <span class="text-bold-0-2">{{ total }}</span>
        <span class="text-bold-0-3">원</span>
        <span class="text-bold-0-5"></span>
      </span>
    </div>

    <div class="checklist-retangle">
      <table>
        <thead>
        <tr>
            <th>이름</th>
            <th></th>
            <th>수량</th>
            <th></th>
            <th>옵션</th>
            <th>가격</th>
            <th>취소</th>
        </tr>
        </thead>
        <tbody>
          {% for cart in carts %}
        <tr>
            <td>{{ cart.menu.menuName }}</td>
            <td onclick="changeQuantity(-1, '{{ cart.id }}')"> <b>&nbsp;&nbsp;-&nbsp;&nbsp;</b></td>
            <td>{{ cart.menuQuantity }}</td>
            <td onclick="changeQuantity(1, '{{ cart.id }}')"> <b>&nbsp;&nbsp;+&nbsp;&nbsp;</b> </td>
            <td>{{ cart.option1 }}<br> {{ cart.option2 }}</td>
            <td>{{ cart.totalPrice }}원</td>
            <td style="color: red" onclick="deleteCart('{{ cart.id }}')">취소</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    <div class="cancel-button">
      <div class="cancel-retangle"></div>
      <div class="text-right">취소하기</div>
    </div>

    <div class="payment-button" onclick="pay()">
      <div class="payment-retangle" ></div>
      <div class="text-right">결제하기</div>
    </div>

  <!-- 메뉴 선택 확인 팝업 -->
  <div id="menu_confirmation_popup" class="hamburger-popup" style="display: none;">
    <div class="div">
      <span>
        <span class="div-span highlight" id="selected_menu_name">롱치즈스틱</span>
        <span class="div-span3">(을)를 선택하셨나요?</span>
      </span>
    </div>
    <div class="div3">
      <span>맞으시면 <span class="highlight">확인</span><br>
      아니면 <span class="highlight">취소</span> 버튼을 눌러주세요</span>
    </div>
    <div class="button-container">
      <div class="frame-98" onclick="confirmMenu()">확인</div>
      <div class="frame-99" onclick="closeMenuConfirmationPopup()">취소</div>
    </div>
  </div>


    <!-- 주문 세부 내역 팝업 -->
    <div class="order-details-popup" id="order-details-popup" style="display:none">
      <div class="frame-101">
        <div class="order_list">주문 세부내역을 확인하여 주세요</div>
      </div>
      <div class="frame-102">
        <table>
          <tbody>
            {% for cart in carts %}
          <tr>
              <td>{{ cart.menu.menuName }}</td>
              <td>{{ cart.menuQuantity }}</td>
              <td>{{ cart.option1 }}<br> {{ cart.option2 }}</td>
              <td>{{ cart.totalPrice }}원</td>
          </tr>
          {% endfor %}
          </tbody>  
  
        </table>
      </div>
  
  
  
      
      <div class="frame-103">
          <div class="frame-1043">
            <div class="div3">
              <span>
                <span class="div-3-span4">총</span>
                <span class="div-3-span5"></span>
                <span class="div-3-span6">결제금액</span>
              </span>
            </div>  
          </div>
          <div class="amount_check">{{ total }}원</div>
      </div>
        <button class="final_cancel" onclick="window.location.href='fastfoodbuger'">
          <div class="final">취소하기</div>
        </button>
        <button class="final_okay">
          <div class="final" onclick="window.location.href='payment2'">결제하기</div>
        </button>
    
      </div>
    </div>
  
  
  <script>
    let burger = "";
    let option1 = "";
    let option2 = "";

    let menuNameGlobal = "";

    let isOptionGlobal1 = false;
    let isOptionGlobal2 = false;
    
    let isBurger = true;

    function openMenuConfirmationPopup(element, menuName, isOption1, isOption2) {

      document.getElementById("selected_menu_name").textContent = menuName;
      document.getElementById("menu_confirmation_popup").style.display = "block";
      
      menuNameGlobal = menuName;
      isOptionGlobal1 = isOption1;
      isOptionGlobal2 = isOption2;

    }

    function closePopup(popupId) {
      document.getElementById(popupId).style.display = "none";
      isBurger = true;
    }

    function confirmMenu() {
      closePopup("menu_confirmation_popup");
      if (isBurger) {
        document.getElementById("dessert_selection_popup").style.display = "block";
      }

      if(isOptionGlobal1) {
        option1 = menuNameGlobal;
      } else if (isOptionGlobal2) {
        option2 = menuNameGlobal;
      } else {
        burger = menuNameGlobal;
        isBurger = false;
      }

      isOptionGlobal1 = false;
      isOptionGlobal2 = false;
      menuNameGlobal = "";
    }

    function showDrinkPopup() {
      document.getElementById("dessert_selection_popup").style.display = "none";
      document.getElementById("drink_selection_popup").style.display = "block";
    }

    function showDessertPopup() {
      document.getElementById("drink_selection_popup").style.display = "none";
      document.getElementById("dessert_selection_popup").style.display = "block";
    }

    function closeMenuConfirmationPopup() {
      document.getElementById("menu_confirmation_popup").style.display = "none";
    }

    function complete() {
      if(option1 == "" || option2 == "") {
        alert("옵션을 선택하세요.");
        return;
      }

      var formData = new FormData();
      formData.append('menuName', burger);
      formData.append('menuQuantity', 1);
      formData.append('option1', option1);
      formData.append('option2', option2);
        console.log(burger);
        console.log(option1);
        console.log(option2);
      $.ajax({
        url: '/api/cart/fastfood/create', // 서버에 요청을 보낼 URL
        type: 'POST',
        data: formData,
        contentType: false,
        processData: false,
        success: function(response) {
            window.location.reload();
          },
        error: function(xhr, status, error) {
            console.error('Error:', error);
            alert('카트 추가에 실패했습니다.');
        }
      });
    }

    function deleteCart(cartId) {
      if (confirm('정말로 삭제하시겠습니까?')) {
        $.ajax({
          url: '/api/cart/'+cartId+"/", // 서버에 요청을 보낼 URL
          type: 'DELETE',
          success: function(response) {
              window.location.reload();
            },
          error: function(xhr, status, error) {
              console.error('Error:', error);
              alert('삭제 실패했습니다.');
          }
        });
      }
  }


  function changeQuantity(n, cartId) {
    $.ajax({
      url: '/api/cart/' + cartId + "/", // 서버에 요청을 보낼 URL
      type: 'PUT',
      data: JSON.stringify({ quantity: n }),
      contentType: false,
      processData: false,
      success: function(response) {
          window.location.reload();
        },
      error: function(xhr, status, error) {
          console.error('Error:', error);
          alert('카트 추가에 실패했습니다.');
      }
    });
  }

  function pay() {
    document.getElementById("order-details-popup").style.display = "block";
  }
  </script>
</body>
</html>