<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/style.css">
  
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>suho-coffee</title>
</head>
<body>
  <div class="iphone">
    <div class="ellipse-14"></div>
    <div class="div">
      원하시는 키오스크
      <br />
      교육을 선택해주세요!
    </div>
    <div class="ellipse-1"></div>
    <div class="ellipse-10"></div>
    <div class="image-16"></div>
    <div class="image-11"></div>


      <div class="hambuger-retangle"></div>
      <div class="div2">패스트푸드</div>
      <div class="hambuger-circle"></div>
      <img class="hambuger" src="static/img/hambuger0.png" />
      <button class="button-1" onclick="window.location.href='fastfoodmain'">
        <span class="div3">시작하기</span>
    </div>


      <div class="cafe-retangle"></div>
        <div class="div4">카페</div>
        <div class="coffee-circle"></div>
          <img class="coffee" src="static/img/coffee0.png" />
        <button class="button-2" onclick="window.location.href='cafemain'">
          <span class="div5">시작하기</span>
        </button>
    </div>
  
</body>
</html>