<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
       font-family: "Noto Sans KR" !important;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Document</title>
</head>
<body>
  <div class="i-phone-se-49">
    <div class="div">
      <span>
        <span class="div-span">
          안녕하세요😀
          <br />
        </span>
        <span class="div-span2">
          <br />
        </span>
        <span class="div-span3">키오스크 교육</span>
        <span class="div-span4">
          을 시작해볼까요?
          <br />
          원하시는 교육과정을 선택해 주세요.
        </span>
      </span>
    </div>
    <div class="frame-105">
      <div class="frame-107">
        <img class="image-98" src="static/img/image-980.png" />
      </div>
      <div class="frame-108">
        <div class="div2">패스트푸드</div>
        <div class="frame-109" onclick="window.location.href='fastfoodbuger'">
          <div class="div3">시작하기</div>
        </div>
      </div>
    </div>
    <div class="frame-106">
      <div class="frame-107">
        <img class="image-99" src="static/img/image-990.png" />
      </div>
      <div class="frame-108">
        <div class="div2">카페</div>
        <div class="frame-109"onclick="window.location.href='cafemain'">
          <div class="div3">시작하기</div>
        </div>
      </div>
    </div>
  
</body>

<script>
  $.ajax({
    url: '/api/stt/speak', // 서버에 요청을 보낼 URL
    type: 'POST',
    data: JSON.stringify({ page:"kiosk", question: "안녕하세요. 키오스크 교육을 시작해볼까요? 원하시는 교육과정을 선택해 주세요." }),
    contentType: false,
    processData: false,
    success: function(response) {
      window.location.href = "cafemain"
    },
    error: function(xhr, status, error) {
        console.error('Error:', error);
        alert('실패했습니다.');
    }
  });
</script>
</html>