<!DOCTYPE html>
<html lang="en">
{% load static %} 
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

      <!-- jQuery CDN -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="static\last.css" />

    <style>
      
      a,
      button,
      input,
      select,
      h1,
      h2,
      h3,
      h4,
      h5,
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: none;
        text-decoration: none;
        background: none;

        -webkit-font-smoothing: antialiased;
        font-family: "Noto Sans KR" !important;
      }

      menu,
      ol,
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
    </style>
    <title>Document</title>
  </head>
  <body>
    <div class="last">
      <div class="_23">
        <span>
          <span class="_23-span">
            결제가 완료되었습니다
            <br />
            <br />
          </span>
          <span class="_23-span2">
            <br />
            주문번호
            <br />
          </span>
          <span class="_23-span3">
            23
            <br />
          </span>
          <span class="_23-span4">
            <br />
          </span>
        </span>
      </div>
      <img class="bill" src="bill0.png" />
      <div class="frame-110">
        <div class="div">
          축하합니다!
          <br />
          카페 교육이 성공적으로
          <br />
          완료되셨습니다!
        </div>
        <div class="frame-111"></div>
        <img class="last_victory" src="static/img/last_victory.png" />
      </div>
    </div>
  </body>
  <script>
   
      setTimeout(function() {
        $.ajax({
          url: '/api/stt/speak', // 서버에 요청을 보낼 URL
          type: 'POST',
          data: JSON.stringify({ page:"", question:  "축하합니다! 키오스크 교육이 성공적으로 완료되셨습니다~~" }),
          contentType: false,
          processData: false,
          success: function(response) {
          },
          error: function(xhr, status, error) {
              console.error('Error:', error);
              console.log('실패했습니다.[selectedContinue function]');
          }
        });
        window.location.href='';

        
    }, 5000); // 3000ms = 3초
  </script>
</html>
