<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/payment.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
<!-- jQuery CDN -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
       font-family: "Noto Sans KR" !important;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }

/* 팝업 스타일 */
#paypopup {
    background: #ffffff;
    border-radius: 30px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    width: 320px;
    height: 250px;
    position: fixed; /* 수정: fixed로 변경하여 화면에 고정 */
    top: 50%; /* 화면 세로 중앙 위치 */
    left: 50%; /* 화면 가로 중앙 위치 */
    transform: translate(-50%, -50%); /* 정확한 중앙 정렬 */
    z-index: 9999; /* 다른 요소들 위에 표시되게 */
    overflow: visible; /* overflow 속성을 visible로 변경 */
}



   </style>
  <title>Document</title>
</head>
<body>
  <div class="i-phone-se-48">
    <div class="frame-82">
      <div class="step-1">STEP 1 포장을 선택하세요</div>
    </div>
    <div class="frame-83">
      <div class="frame-84" id="frame84" data-value="포장">
        <img class="image-93" src="static/img/image-930.png" />
        <div class="_1">
          포장
          <br />
          (1회용기 제공)
        </div>
      </div>
      <div class="frame-85" id="frame85" data-value="매장">
        <img class="image-94" src="static/img/image-940.png" />
        <div class="div">
          매장
          <br />
          (다회용기 제공)
        </div>
      </div>
    </div>
    <div class="frame-842">
      <div class="step-1">STEP 2 결제 방식을 선택하세요</div>
    </div>
    <div class="frame-852">
      <div class="frame-843" id="frame843" data-value="카드결제 (삼성페이)">
        <img class="image-71" src="static/img/image-710.png" />
        <div class="div2">카드결제 (삼성페이)</div>
      </div>
      <div class="frame-853" id="frame853" data-value="앱카드 QR/바코드">
        <img class="image-72" src="static/img/image-720.png" />
        <div class="qr">앱카드 QR/바코드</div>
      </div>
      <div class="frame-86" id="frame86" data-value="쿠폰사용">
        <img class="image-73" src="static/img/image-730.png" />
        <div class="div2">쿠폰사용</div>
      </div>
    </div>
    
    <div class="frame-87">
      <div class="frame-89">
        <div class="div3" onclick="window.location.href='cafemain'" >결제취소</div>
      </div>
      <div class="frame-90" onclick="paynow()">
        <div class="div3">다음으로</div>
      </div>
    </div>
  </div>

  
  <div class="frame-95" id="paypopup" style="display:none">
    <div class="ic">
      <span>
        <span class="ic-span">
          신용 / 체크카드
          <br />
        </span>
        <span class="ic-span2">
          <br />
          *그림과 같이 카드를 넣어주세요
          <br />
          (ic칩이 단말기에 투입되도록 넣어주세요)
        </span>
      </span>
    </div>
    <div class="frame-96">
      <img class="image-76" src="static/img/image-760.png" />
      <div class="frame-97">
        <div class="credit_cancel" onclick="window.history.back()">취소</div>
      </div>
    </div>
  </div>
  
</body>

<script>
  
  $(document).ready(function() {
    let selectedOption = ""; // 선택된 옵션을 저장하는 변수

    const frame84 = document.getElementById("frame84");
    const frame85 = document.getElementById("frame85");
    
    voiceStart();
});

  function voiceStart() {
    $.ajax({
      url: '/api/stt/speak', // 서버에 요청을 보낼 URL
      type: 'POST',
      data: JSON.stringify({ page:"payment2-1", question:  "포장 방식을 선택하세요. 포장을 원하시면 포장, 매장에서 드시고 가시면 매장이라고 답해주세요." }),
      contentType: false,
      processData: false,
      success: function(response) {
        if (response.message) {
          frame84Click();
        } else {
          frame85Click();
        }
        voiceNext();
      },
      error: function(xhr, status, error) {
          console.error('Error:', error);
          console.log('실패했습니다.[selectedContinue function]');
      }
    });
  }

  function voiceNext() {
    $.ajax({
      url: '/api/stt/speak', // 서버에 요청을 보낼 URL
      type: 'POST',
      data: JSON.stringify({ page:"payment2-2", question:  "결제 방식을 선택하세요." }),
      contentType: false,
      processData: false,
      success: function(response) {
        if (response.message == "카드") {
          frame834Click();
        } else if (response.message == "앱카드") {
          frame853Click();
        } else {
          frame86Click();
        }
        voiceConfrim();
      },
      error: function(xhr, status, error) {
          console.error('Error:', error);
          console.log('실패했습니다.[selectedContinue function]');
      }
    });
  }

 function voiceConfrim() {
  $.ajax({
    url: '/api/stt/speak', // 서버에 요청을 보낼 URL
    type: 'POST',
    data: JSON.stringify({ page:"payment2-3", question:  "다음으로 넘어가길 원하시면 네, 결제 취소를 원하시면 아니요라고 답해주세요." }),
    contentType: false,
    processData: false,
    success: function(response) {
      if (response.message) {
        paynow();
      } else {
        window.location.href='cafemain'
      }
      voiceNext();
    },
    error: function(xhr, status, error) {
        console.error('Error:', error);
        console.log('실패했습니다.[selectedContinue function]');
    }
  });
 }




function paynow() {
  document.getElementById('paypopup').style.display = "block";

  $.ajax({
    url: '/api/stt/speak', // 서버에 요청을 보낼 URL
    type: 'POST',
    data: JSON.stringify({ page:"", question:  "그림과 같이 카드를 넣어주세요." }),
    contentType: false,
    processData: false,
    success: function(response) {
      
    },
    error: function(xhr, status, error) {
        console.error('Error:', error);
        console.log('실패했습니다.[selectedContinue function]');
    }
  });

    // 페이지가 로드된 후 3초 뒤에 paydone.html로 이동
  setTimeout(function() {
    window.location.href = 'paydone';  // paydone.html로 이동
  }, 5000); // 3000ms = 3초
}

function frame84Click() {
  clearSelection();
  frame84.classList.add("selected");
  selectedOption = frame84.getAttribute("data-value"); // 선택된 값 저장
  console.log("선택된 옵션:", selectedOption); // 선택된 값 확인
}

function frame85Click() {
  clearSelection();
  frame85.classList.add("selected");
  selectedOption = frame85.getAttribute("data-value"); // 선택된 값 저장
}


frame84.addEventListener("click", function() {
  frame84Click();
});

frame85.addEventListener("click", function() {
  frame85Click();
});

function clearSelection() {
  frame84.classList.remove("selected");
  frame85.classList.remove("selected");
}

let selectedPaymentOption = ""; // 선택된 결제 옵션을 저장하는 변수

const frame843 = document.getElementById("frame843");
const frame853 = document.getElementById("frame853");
const frame86 = document.getElementById("frame86");

function frame834Click() {
  clearPaymentSelection();
  frame843.classList.add("selected");
  selectedPaymentOption = frame843.getAttribute("data-value"); // 선택된 값 저장
  console.log("선택된 결제 옵션:", selectedPaymentOption); // 선택된 값 확인
}

function frame853Click() {
  clearPaymentSelection();
  frame853.classList.add("selected");
  selectedPaymentOption = frame853.getAttribute("data-value"); // 선택된 값 저장
  console.log("선택된 결제 옵션:", selectedPaymentOption); // 선택된 값 확인
}

function frame86Click() {
  clearPaymentSelection();
  frame86.classList.add("selected");
  selectedPaymentOption = frame86.getAttribute("data-value"); // 선택된 값 저장
  console.log("선택된 결제 옵션:", selectedPaymentOption); // 선택된 값 확인
}

frame843.addEventListener("click", function() {
  frame834Click();
});

frame853.addEventListener("click", function() {
  frame853Click();
});

frame86.addEventListener("click", function() {
  frame86Click();
});

function clearPaymentSelection() {
  frame843.classList.remove("selected");
  frame853.classList.remove("selected");
  frame86.classList.remove("selected");
}


</script>
</html>