<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static\first.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    

    <style>
      a,
      button,
      input,
      select,
      h1,
      h2,
      h3,
      h4,
      h5,
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: none;
        text-decoration: none;
        background: none;

        -webkit-font-smoothing: antialiased;
      }

      menu,
      ol,
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
    </style>
    <title>Document</title>
  </head>
  <body>
    <div class="i-phone-se-51">
      <div class="frame-112" onclick="window.location.href='kiosk'">
        <div class="div">대화 모드</div>
        <div class="frame-107">
          <img class="image-100" src="static/img/talk.png" />
        </div>
      </div>
      <div class="frame-113" onclick="window.location.href='kiosk'">
        <div class="div">터치 모드</div>
        <div class="frame-1072"></div>
        <img class="image-101" src="static/img/touch.png" />
      </div>
      <div class="div2">
        <span>
          <span class="div-2-span">
            안녕하세요!
            <br />
            <br />
          </span>
          <span class="div-2-span2">키오스크 교육</span>
          <span class="div-2-span3">
            을 위해
            <br />
            원하시는 모드를 선택해주세요
          </span>
        </span>
      </div>
    </div>
  </body>
</html>
