.frame-70,
.frame-70 * {
  box-sizing: border-box;
}
.frame-70 {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1.6px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 241px;
  height: 138px;
  position: relative;
  overflow: hidden;
}
.frame-71 {
  background: #fcc813;
  align-self: stretch;
  flex-shrink: 0;
  height: 23px;
  position: relative;
  overflow: hidden;
}
.popupdiv {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 13px;
  letter-spacing: 1.25px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-72 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 49px;
  position: relative;
  overflow: hidden;
}
.frame-74 {
  background: #fcc813;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 70px;
  height: 29px;
  position: relative;
  overflow: hidden;
}
.popupdiv2 {
  color: #ffffff;
  text-align: center;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 13px;
  letter-spacing: 1.25px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  flex: 1;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-75 {
  background: #ff2626;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 70px;
  height: 29px;
  position: relative;
  overflow: hidden;
}
