
html,body {
  height: 100% !important;
  width: 100% !important;
}

.i-phone-se-51,
.i-phone-se-51 * {
  box-sizing: border-box;
}
.i-phone-se-51 {
  background: #fff8de;
  padding: 70px 0px 70px 0px;
  display: flex;
  flex-direction: column;
  gap: 37px;
  align-items: flex-end;
  justify-content: center;
  height: 100% !important;
  width: 100% !important;
  position: relative;
  overflow: hidden;
}
.div {
  text-align: left;
  font-size: 20px;
  letter-spacing: 1.25px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  width: 302px;
  height: 127px;
  left: -10%;
}
.div-span {
  color: #000000;
  font-size: 20px;
  letter-spacing: 1.25px;
  font-weight: 700;
  text-transform: uppercase;
  left: 10%;
}
.div-span2 {
  color: #fcc813;
  font-size: 20px;
  letter-spacing: 1.25px;
  font-weight: 700;
  text-transform: uppercase;
}
.div-span3 {
  color: #000000;
  font-size: 20px;
  letter-spacing: 1.25px;
  font-weight: 700;
  text-transform: uppercase;
}
.frame-112 {
  background: #fcc813;
  border-radius: 70px 0px 0px 70px;
  padding: 30px 10px 30px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 272px;
  height: 119px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.div2 {
  color: #ffffff;
  text-align: left;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 148px;
  top: 0px;
  width: 84px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-107 {
  background: #ffffff;
  border-radius: 100px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 11px;
  top: 12px;
  overflow: hidden;
}
.image-100 {
  flex-shrink: 0;
  width: 96px;
  height: 89px;
  position: relative;
  object-fit: cover;
}
.frame-113 {
  background: #fcc813;
  border-radius: 60px 0px 0px 60px;
  padding: 30px 10px 30px 10px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 272px;
  height: 119px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.frame-1072 {
  background: #ffffff;
  border-radius: 100px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 102px;
  height: 97px;
  position: absolute;
  left: 11px;
  top: 12px;
  overflow: hidden;
}
.image-101 {
  flex-shrink: 0;
  width: 96px;
  height: 89px;
  position: relative;
  object-fit: cover;
  left: -30%;
}
